<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Panacea.Core" version="0.0.1" targetFramework="net462" />
  <package id="Panacea.Models" version="0.0.2" targetFramework="net462" />
  <package id="Panacea.Modularity" version="0.0.2" targetFramework="net462" />
  <package id="Panacea.Modularity.Media" version="1.0.0" targetFramework="net462" />
  <package id="Panacea.Modularity.MediaPlayerContainer" version="1.1.0" targetFramework="net462" />
  <package id="Panacea.Modularity.UiManager" version="0.1.0" targetFramework="net462" />
  <package id="Panacea.Multilinguality" version="0.1.1" targetFramework="net462" />
</packages>